<span class="label label-info"><%= Time.now.to_s %></span> <span class="label label-info"><%= @ip %></span>
<br/><br/>
<% @sensors.each do |sensor| %>
<div class="alert alert-success" role="alert">
  <%= sensor.to_s %>: <strong><%= sensor.last_formatted_value %></strong> (<%= sensor.last_reading.created_at rescue '-'%>)
</div>
<% end %>
