<section id="fw-params-<%= @dir %>" class="fw-params">
<% @cfg[:params].each do |param| %>
  <fieldset class="form-group">
    <%= label :firmware, param[:name], param[:title] %><br>
    <% case param[:type] %>
    <% when :string %>
    <%= input :settings, param[:name], :value => @settings[param[:name]] || param[:value], :class =>"form-control fw-param" %>
    <% when :select %>
    <%= select :settings, param[:name], param[:options], :value => @settings[param[:name]] || param[:value], :class =>"form-control fw-param" %>
    <% when :checkbox %>
	<%=  checkbox :settings, param[:name], 1, label: false, :class =>"fw-param" %>
    <% end %>
  </fieldset>
<% end %>
</section>
