<h1>ESP8266 Firmware Upload</h1>
<%= form("/firmware", :post) %>

  <fieldset class="form-group">
	<%= label :settings, :host %><br>
    <%= input :settings, :host, :value => @settings['host'], :class =>"form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= label :settings, :port %><br>
    <%= input :settings, :port, :value => @settings['port'], :class =>"form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= label :settings, :ssid %><br>
    <%= input :settings, :ssid, :value => @settings['ssid'], :class =>"form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= label :settings, :password %><br>
    <%= input :settings, :password, :value => @settings['password'], :class =>"form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= label :firmware, :skip_nodemcu, "Don't flash NodeMCU" %><br>
    <%= checkbox :firmware, :skip_nodemcu, 1, label: false %>
  </fieldset>
  <fieldset class="form-group">
    <%= label :firmware, :name, 'Firmware type' %><br>
    <%= select :firmware, :name, @firmwares.map { |d, c| [d, c[:name]]}, :value => (params[:firmware][:name] rescue nil), :class =>"form-control", :name => 'firmware' %>
  </fieldset>
  <% @firmwares.each do |dir, cfg| %>
  <% @dir = dir; @cfg = cfg %>
  <%= erb :'firmware/_params' %>
  <% end %>
  <%= submit "Upload", :class => "btn btn-primary" %>
  <a href='/' class="btn btn-secondary">Cancel</a>
</form>
